/*fonts and colors*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
:root {
  --background: hsl(60, 100%, 99.02%);
  --links: hsl(210.99, 100%, 47.45%);
  --text: hsl(230.53, 23.46%, 15.88%);
  --gray: hsl(230.53, 10%, 95%);
}
* {
  margin: 0;
  font-family: "Montserrat", serif;
  font-size: 16px;
}
/*********************/
body {
  background-color: var(--background);
  color: var(--text);
}
/*homepage*/
.container {
  display: flex;
  flex-direction: row;
}
.logos {
  display: flex;
  flex-direction: row;
}
.brand-logo {
  height: 128px;
  width: 128px;
}

.product-card h1 {
  font-size: 1.2rem;
  font-family: "Oswald", serif;
  color: var(--text);
}

/*side-bar*/
.side-bar input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}
.side-bar {
  display: block;
  height: 30vh;
  line-height: 1;
  width: 10vw;
  border-right: solid 1px var(--text);
  margin: 1rem 1rem;
}
.side-bar label {
  font-family: "Montserrat", serif;
  font-weight: 400;
  color: var(--text);
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  /* justify-content: center; */
}
/********************
 ** NAVIGATION BAR **
 ********************/

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--text);
  color: var(--background);
  width: 100%;
  height: 3rem;
}

nav h1 a {
  text-decoration: none;
  color: var(--background);
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  margin-left: 4rem;
}

.nav_buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 80%;
  margin-left: auto;
}
.nav_buttons button a {
  color: var(--links);
}
.nav_buttons button {
  background-color: var(--text);
  /* border-color: var(--links); */
  border: 1px var(--links) solid;
  height: 2.3rem;
  width: 7rem;
  margin: 2px 2px;
}
/* humbergur menu */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--background);
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--gray);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: var(--gray);
}
#searchbar {
  padding: 10px;
  border-radius: 5px;
  width: 10rem;
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

/***************************/

/*login page*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#login fieldset {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 1rem;
  border: none;
  padding: 3rem 3rem;
  /* height: 50%; */
}
label {
  font-family: "Oswald", serif;
  font-weight: 900;
  color: var(--links);
}
input {
  height: 2rem;
  border-radius: 5px;
  background-color: var(--background);
  border: 1px solid #001f2232;
  font-family: "Montserrat", serif;
  margin-bottom: 1rem;
}
button {
  height: 3rem;
  width: 10rem;
  background-color: var(--links);
  color: var(--text);
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--text);
  color: var(--background);
  transition: 0.2s;
}
#nav_button {
  display: flex;
  height: 2rem;
  width: 5rem;
  background-color: var(--text);
  border-color: var(--links);
  color: var(--links);
  align-self: center;
}
a {
  color: var(--links);
  text-decoration: none;
}

/*product card*/
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: flex-start;
  padding: 1rem 0.5rem;
  width: 250px;
  height: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.product-card .buy {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.product-card h1 {
  width: 100%;
  display: flex;
  font-size: 1.1rem;
}
#price {
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  justify-content: end;
  margin-right: 3rem;
}
.product-card button {
  width: 90%;
  margin-top: auto;
}
.product-card img {
  width: 100px;
  height: 150px;
}

.product-card .discription {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* @media only screen and (max-width: 800px) { */
/*   .products { */
/*     flex-direction: column; */
/*   } */
/*   .product-card { */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: center; */
/*     justify-content: center; */
/*     padding: 1rem 0.5rem; */
/*     width: 90vw; */
/*     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
/*     border-radius: 10px; */
/*   } */
/*   .product-card .buy { */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: flex-start; */
/*     margin: 0; */
/*     align-items: center; */
/*     text-align: center; */
/*     width: 100%; */
/*   } */
/*   .product-card h1 { */
/*     width: 100%; */
/*     display: flex; */
/*     font-size: 1.1rem; */
/*   } */
/*   #price { */
/*     display: flex; */
/*     width: 100%; */
/*     font-size: 1.3rem; */
/*     justify-content: end; */
/*     margin-right: 3rem; */
/*   } */
/*   .product-card button { */
/*     width: 90%; */
/*   } */
/* } */
/********************
 ** ABOUT US PAGE  **
 ********************/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}
.container1 {
  background-color: var(--background);
  color: var(--text);
  height: fit-content;
  width: fit-content;
  line-height: 2.2rem;
  text-align: flex-start;
  width: 90%;
  /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
  padding: 3rem 2rem;
}
.greeting {
  color: var(--links);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.title {
  font-size: 1.4rem;
  color: var(--text);
}
section p {
  font-size: 1.2rem;
}

/********************/
